<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.droiddevsa.doganator">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- Theme can be applied to whole app, or one activity, but use android:Theme = "@style/yourTheme"
     inside the attr section of either the application or activity tag
    -->
    <application
        android:name=".utils.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Dog Dictionary"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".views.SplashScreen"
            android:launchMode="singleTask"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:launchMode="singleTask"
            android:name=".views.MainActivity">
        </activity>

        <service
            android:name=".services.JsonDogDownloadService"
            android:exported="false"/>

    </application>

</manifest>